.container {
  text-align: center;
  padding: 4rem 6rem;

  h1 {
    font-size: 4rem;

    +h2 {
      margin-top: 1rem;
    }
  }

  h2 {
    font-size: 3rem;
  }

  h1,
  h2 {
    +p, +ul {
      margin-top: 2rem;
    }
  }

  p, ul {
    margin-bottom: 1rem;
  }
}